.container {
    width: 80%;
    margin: auto;
}

.opcoes {
    display: flex;
    justify-content: space-between;
}

.produtos-lista {
    margin-top: 20px;
}

.produto-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}