{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Meu Estoque</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  </head>

  <body>
    <div class="container">
      <h2>Meu Estoque</h2>
      <p>
        Você tem produtos com estoque baixo.
        <a href="{% url 'ver_estoque_baixo' %}">Ver</a>
      </p>

      <div class="opcoes">
        <form method="GET" action="{% url 'procurar_produto' %}">
          <input
            type="text"
            name="query"
            placeholder="Procurar"
            id="procurar"
          />
          <button type="submit">Buscar</button>
        </form>

        {% if messages %}
        <h1>ddd</h1>
        <div class="alert alert-info mt-3">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#cadastrarProdutoModal"
        >
          Cadastrar produto
        </button>

        <div class="modal fade" tabindex="-1" id="cadastrarProdutoModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Cadastrar Produto</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form method="post" action="{% url 'cadastrar_produto' %}">
                  {% csrf_token %} 
                 
        <div class="mb-3">
            <label for="id_nome" class="form-label">Nome</label>
            {{ form.nome }}
        </div>
        <div class="mb-3">
            <label for="id_categoria" class="form-label">Categoria</label>
            {{ form.categoria }}
        </div>
        <div class="mb-3">
            <label for="id_quantidade_minima" class="form-label">Quantidade Mínima</label>
            {{ form.quantidade_minima }}
        </div>
        <div class="mb-3 col-sm-4">
            <label for="id_preco" class="form-label">Preço</label>
            <input type="number" step="0.01" name="preco" id="id_preco" min="0" class="form-control" required>
        </div>
        
            
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                      Cadastrar
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancelar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Botão Mais para abrir o modal -->
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#maisModal"
        >
          Mais
        </button>
      </div>
      <!-- Modal Mais Opções -->
      <div class="modal fade" tabindex="-1" id="maisModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="produtos-lista">
        {% for produto in produtos %}
        <div class="produto-item">
          <p>Nome: {{ produto.nome }}</p>
          <p>Quantidade: {{ produto.quantidade }}</p>
          <p>Categoria: {{ produto.categoria.nome }}</p>
          <p>R$ {{ produto.preco }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
